

.btn a {
	color: white;
	text-decoration: none;
	display: inline;
}

#customer-table {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#customer-search-form {
	position:relative;
	top: 6px;
}

.search-buttons {
	float: left;
	width: 350px;
	margin: 10px auto auto auto;
}

.search-field {
	margin: 13px 65px auto auto;
	float: left;
	width: 530px;
}