

.btn a {
	color: white;
	text-decoration: none;
	display: inline;
}

#customer-table {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

#customer-search-form {
	position:relative;
	top: 6px;
}

.table-margins {
	margin-left: 0px;
	margin-right: 0px;
}