
.activity-history-header {

	width: 370px;
	margin-left: auto;
	margin-right: auto;

	li {
		display: inline;
		width: 200px;
		text-align: center;
	}

	li:last-child {
		margin-left: 110px;
	}

	a {

		color: #c4c4c4;
	}

	h3 {
		display: inline;
	}
}

.customer-show {

	li {
		list-style-type: none;
	}

	h3 {
		text-align: center;
	}

}

#customer-info {
	position:relative;
	right: 50px;
	top: 17px;

	li {
		width: 220px;
		text-overflow: ellipsis;
		overflow: hidden;
  	white-space: nowrap;
	}

	li:last-child {
		text-align: right;
	}

}

.customer-show-align-center {
	float: center;
	text-align: center;
	margin-left: 45px;
	margin-right: 45px;
}



.show-col {
	border: 1px solid lightgray;
	padding: 1%;
	height: 530px;
}

.show-col2 {
	border: 1px solid lightgray;
	padding: 1%;
}

#datos {
	margin-top: 0px;
}

.show-inactive {
		a:visited {
		color: #c4c4c4;
	}
}

.show-active {
		a:visited {
		color: #333333;
	}
}

.table-width {
	margin-left: 30px; 
	margin-right: 30px;
}

.aptype1-color {
	color: #88c656;
}

.aptype2-color {
	color: #f9ab53;
}

.aptype3-color {
	color: #ec7151;
}

.aptype4-color {
	color: #28abdb;
}

.order-list { 

	ul {
		padding: 0;
		text-align: center;
		list-style-type: none;
		width: 100%;
	}	

  li {
		text-align: center;
		width: 100%;
		list-style-type: none;

	}

	img {
		margin-left: 40px;
	}
}

#medidas ul li {
	width: 380px;
	text-align: center;
}






