
.activity-history-header {

	width: 370px;
	margin-left: auto;
	margin-right: auto;

	li {
		display: inline;
		width: 200px;
		text-align: center;
	}

	li:last-child {
		margin-left: 110px;
	}

	a {

		color: #c4c4c4;
	}

	h3 {
		display: inline;
	}
}

.customer-show {

	li {
		list-style-type: none;
	}

	h3 {
		text-align: center;
	}

}

#customer-info {
	position:relative;
	right: 50px;
	top: 17px;

	li {
		width: 220px;
		text-overflow: ellipsis;
		overflow: hidden;
  	white-space: nowrap;
	}

	li:last-child {
		text-align: right;
	}

}

.customer-show-align-right {
	float: right;
	text-align: right;
}

.show-col {
	border: 1px solid lightgray;
	padding: 1%;
	height: 530px;
	width: 480px;
}

#datos {
	margin-top: 0px;
}

.show-inactive {
		a:visited {
		color: #c4c4c4;
	}
}

.show-active {
		a:visited {
		color: #333333;
	}
}


