
@import "partials/sizes";
@import "partials/typography";

// Logo

.logo-container {
	width: $app-width;
	margin-top: 15px;
}

#big-logo {
	overflow: hidden;
	width: 360px;
}

// Navbar

.navbar-footer {

	li {
	width: 60px;
	text-align: center;
	margin-right: 40px;
	margin-left: 40px;
	}

}

