

   <div id="calendar">  </div>

   <%= content_tag "div", id: "" do %>

  <% end %> 

     <div id="citas"> 

   [{
      title: 'Event1',
      start: '2014-10-14'
        },
        {
            title: 'Event2',
            start: '2014-10-11'
        }]



      </div>