
<%= render 'staticpages/big_logo' %>

	<div class="container">
		<div class="row">
			<div id="welcome-client" class="welcome col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<%= link_to image_tag("WelcomeCustomer.jpg"), new_customer_session_path %>
			</div>
			<div id="welcome-designer" class="welcome col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<%= link_to image_tag("WelcomeDesign.jpg"),   new_brand_session_path %>
			</div>
		</div>
	</div>
