<body>
 <div id="navbar-full">
    <div id="navbar">
       <!--    
        navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange  
        -->
        <nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent" role="navigation">
          
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand navbar-brand-logo" href="http://www.creative-tim.com">
                    <div class="logo">
                    <img src="assets/minilogo.png">
                    </div>
                    <div class="brand"> Creative Tim </div>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:void(0);" data-toggle="search" class="hidden-xs">
                            <i class="pe-7s-search"></i>
                            <p>Search</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="pe-7s-mail">
                                <span class="label">23</span>
                            </i>
                            <p>Messages</p>
                        </a>
                    </li> 
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="pe-7s-user"></i>
                                <p>Account</p>
                            </a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                    </li>
               </ul>
               <form class="navbar-form navbar-right navbar-search-form" role="search">                  
                 <div class="form-group">
                      <input type="text" value="" class="form-control" placeholder="Search...">
                 </div> 
              </form>
              
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
       <div class="blurred-container">
            <div class="img-src" style="background-image: url('assets/bg.jpg')"></div>
        </div>
    </div><!--  end navbar -->

</div> <!-- end menu-dropdown -->

<div class="main">
    <div class="container tim-container" style="padding-top:100px">
       <div class="site-wrapper" id="site-wrapper">
    <div class="container-fluid" id="containing-wrapper">

      <div class="row">

      </div>




  <div class="row">

    <div class="col-sm-12">
      <div class="profiles-header">
        <h1>Profiles</h1>
        <p>At Leodis we are constantly hunting for people with ideas and experiences to share. If there is one thing we know people love - its a compelling story - and we've made it our mission to uncover the best of the best. Connecting people and their stories with others that love to hear them.         </p>
      </div>
    </div>


        <div class="col-sm-4">
      <div class="profile ">

        <div class="profile-content">
          <a href="/profiles/venkatesh-iyer">
            <div class="img" style="background-image: url('assets/kitty.png')">
               <%= image_tag('kitty.png') %>
            </div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/venkatesh-iyer">
              <h3 class="profile-name">Venkatesh Iyer</h3>
            </a>
            <p class="profile-summary">Meet Venks, head brewer at Leeds Brewery and the man responsible for the creation of Leodis</p>
            <a href="/profiles/venkatesh-iyer" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
      <div class="profile">

        <div class="profile-content">
          <a href="/profiles/alex-galantino">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/a292570c-c992-42bd-b38e-3b5d3646a0c4/3.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/alex-galantino">
              <h3 class="profile-name">Alex Galantino</h3>
            </a>
            <p class="profile-summary">We're in Alex Galantino's La Bottega today having a chat about his business and exceptional coffee</p>
            <a href="/profiles/alex-galantino" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
      <div class="profile Today we’re taking a few minutes out to have a chat with Tom Woolley, a freelance Illustrator currently working out of Bradford, West Yorkshire. He specialises in illustrated maps and hand lettering with a very distinctive style. ">

        <div class="profile-content">
          <a href="/profiles/tom-woolley">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/5317b3e6-8815-4bc6-97be-0d26189719d0/thumb.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/tom-woolley">
              <h3 class="profile-name">Tom Woolley</h3>
            </a>
            <p class="profile-summary">Freelance Illustrator working out of Bradford, West Yorkshire</p>
            <a href="/profiles/tom-woolley" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
      <div class="profile ">

        <div class="profile-content">
          <a href="/profiles/ruth-rollin">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/b310f4cf-898a-4156-bdfa-04662370aedd/poten.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/ruth-rollin">
              <h3 class="profile-name">Ruth Rollin</h3>
            </a>
            <p class="profile-summary">Today we met with Ruth Rollin to talk about Red tattoo and piercing studio in Leeds</p>
            <a href="/profiles/ruth-rollin" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
      <div class="profile Today we would like you to meet an ambitious entrepreneur by the name of Emma Hardaker; owner of Medium, the only dedicated art supplies shop in Leeds city centre(unbelievable as that sounds, considering the rippling art scene in the city!). We wanted to learn a little more about the store and Emma’s journey to Medium so we stopped by for a chat. ">

        <div class="profile-content">
          <a href="/profiles/emma">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/d3c61012-73be-43d4-aba8-54869f3a71b9/mediumthumb.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">Profiles</p>
            <a href="/profiles/emma">
              <h3 class="profile-name">Emma Hardaker</h3>
            </a>
            <p class="profile-summary">Ambitious owner of the independent art supplies store  Medium Modes of Expression</p>
            <a href="/profiles/emma" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
      <div class="profile Today we dropped into the Leeds Corn Exchange to visit the independent clothing boutique known as Fresco and to have a chat with the store’s owner, operator and clothing designer: Kate Worthington. ">

        <div class="profile-content">
          <a href="/profiles/kate-worthington">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/2573ef5f-ed00-4e63-90cb-dc938f07ef70/frescothumb.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/kate-worthington">
              <h3 class="profile-name">Kate Worthington</h3>
            </a>
            <p class="profile-summary">We dropped into the Leeds Corn Exchange to visit the independent clothing boutique Fresco</p>
            <a href="/profiles/kate-worthington" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4">
      <div class="profile Last Thursday we were lucky enough to receive an invite to Latitude's sixth birthday event. This consisted of an open tasting session of a wide selection of Latitude’s portfolio of spirits, beers and wines. <br />">

        <div class="profile-content">
          <a href="/profiles/chris-hill">
            <div class="img" style="background-image:url(http://i-up.co.uk/i/img/d427bebb-3d01-478f-af55-0cc7a753448e/latthumb.jpg)"></div>
          </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/chris-hill">
              <h3 class="profile-name">Chris Hill</h3>
            </a>
            <p class="profile-summary">Learn a little more about Chris and Latitude: purveyor of over 1200 varieties of spirits, wine and beer </p>
            <a href="/profiles/chris-hill" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>


    <div class="space-100"></div>
    <p class="text-center">Copyright &copy; 2014 <a href="http://creative-tim.com">Creative Tim</a>, made with <i class="fa fa-heart"></i> for a better web.</p>
<!-- end container -->
</div>
<!-- end main -->

</body>