/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require jquery-ui/slider
 *= require fullcalendar
 *= require rails_bootstrap_forms
 *= require_self
 *= require_tree .
 */

@import "partials/sizes";
@import "partials/typography";
@import "bootstrap-sprockets";
@import "bootstrap";

// Navbar



li.back-hover a:hover { 
	background-color: black !important; 
	color: lightgray !important;
}

.test-borders {
	border: 1px solid lightgray;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-brand {
	position: relative;
	top: -12px;
}

.light-border-bottom {
	border-bottom: 1px solid lightgray;
}

.navbar {
	margin-right: 30px;
	margin-left: 30px;
}


// Positioning

	// Alignment

.app-width {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.center {
	margin-right: auto;
	margin-left: auto;
}

.inline {
	display: inline;
	margin-top: 400px;
}

#calendar {
	margin-right: 80px;
	margin-left:  80px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}



