<div class="app-width order-show">

	<h3> Programar Cita </h3> 

	<h5> <%= link_to "Eliminar Cita", customer_appointment_path(@customer, @appointment), :method => :delete %> </h5>

	<div class="appointment-fields">
		<% @appointment.errors.each do |attr,msg|  %>
			 <%=msg%>
			<% end %>

		<%= render 'form_for_appointment' %>


	</div>
</div>

