

		<% if customer_signed_in? or brand_signed_in? %>
		<% else %>
		
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
      </ul>
      
      <ul class="nav navbar-nav navbar-footer navbar-right">
        <%= render 'layouts/navbar_links' %>
        <%= render 'layouts/navbar_dropdown' %>
      </ul>

    </div>
  </div>

</nav>

		<% end %>
