<ul>
	<% if brand_signed_in? %>

	  <li> <%= link_to("#{current_brand.marca}", edit_marca_registration_path) %> </li>
	  <li> <%= link_to('Cerrar Sesion', destroy_marca_session_path, :method => :delete) %> </li>

	<% elsif customer_signed_in? %> 

		<li> <%= link_to("#{current_customer.first_name}", edit_customer_registration_path) %> </li>
	  <li> <%= link_to('Cerrar Sesion', destroy_customer_session_path, :method => :delete) %> </li>

	<% end %>
	
</ul>
